/*  
*   author: patrice-morgan ongoly
*   version: 0.0.1
*   description: styling and logic for the launch page of a mixed/augmented/virtual reality experience
*/

* {
    margin: 0;
    padding: 0;
}

input[type='button']{
    outline: none;
}

body, html{
    width: 100%;
    height: 100%;
}

.entry-layer, .control-layer, .viewer-layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.entry-layer{
    z-index: 100;
    background-color: black;
    color: white;
}

.control-layer{
    z-index: 50;
    background-color: rgba(255, 255, 255, 0);
}

.viewer-layer{
    z-index: 0;
}

#instructions{
    font-family: monospace;
    font-size: 1.5em;
    text-align: center;
    width: 105px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -53px;
}

#logo{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-image: url('../../media/img/hov.png');
    background-size: 100% 100%;
}