<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width,initial-scale=1.0' />
    <title>viewAR | Patrcie-Morgan Ongoly | v. 0.1.1</title>
    <link rel='stylesheet' type='text/css' href='../css/main.css' />
    <script src='../js/jquery-3.2.1.min.js'></script>
    <script src='../js/aframe080.min.js'></script>
    <script src='../js/aframe-gif-shader.min.js'></script>
    <script src='../js/ar-1203.js'></script><!---->
    <script>
        var sessionManager;

        function requestFullScreen(element) { //    makes the application fullscreen on fullscreen equipped browsers
            var requestMethod = element.requestFullScreen || element.webkitRequestFullScreen || element.mozRequestFullScreen || element.msRequestFullScreen; // Supports most browsers and their versions.

            if (requestMethod) { // Native full screen.
                requestMethod.call(element);
            } else if (typeof window.ActiveXObject !== "undefined") { // Older IE.
                var wscript = new ActiveXObject("WScript.Shell");
                if (wscript !== null) {
                    wscript.SendKeys("{F11}");
                }
            }
        }

        function initializeSession(data){
            sessionManager = {
                audio: {
                    player: null,
                    isPlaying: false,
                    focus: null,
                    state: 0 // 0 = inactive; 1 = playing; 2 = paused
                },
                application: {
                    focus: 0, // 0 = home; 1 = audio; 2 = visual; 3 = search
                    players: {
                        available: [
                            'audioAR',
                            'visualAR'
                        ],
                        loaded: null
                    }
                },
                visual: {
                    player: null,
                    isPlaying: false,
                    focus: null,
                    state: 0 // 0 = inactive; 1 = playing; 2 = paused
                },
            };

           // loadAREnvironment(0);
            /**/

            sessionManager.audio.focus = 0;
        }

        $(document).ready(function(){
            initializeSession();

            // FIRST STAGE
            $('#launch-application-page').click(function(){

                console.log('application launch...');

                var elem = document.body;
                //requestFullScreen(elem);

                $(this).animate({
                    height: 0
                }, 2500, function(){
                    $(this).hide();
                });
            });

        });
    </script>
</head>
<body>
    <div id='launch-application-page' class='entry-layer overlay'>
        <div id='instructions'>
            tap anywhere
            <div id='logo'></div>
            to launch viewer
        </div>
    </div>
    <div id='main-app-container' class='viewer-layer'>
        <a-scene embedded arjs>      
            <a-assets>
                <img id='floor-texture' src='../media/texture/grid_pattern.png' preload='true' />
                <a-asset-item id="crate-obj" src="../media/model/omega.obj"></a-asset-item>
                <a-asset-item id="crate-mtl" src="../media/model/omega.mtl"></a-asset-item>
                <!--<a-asset-item id="crate-obj" src="../media/model/alpha2.obj"></a-asset-item>-->
            </a-assets>
            <a-marker-camera type='pattern' url='../media/pattern/md-heart.patt'>
                  <!-- Using the asset management system. -->
                <a-obj-model src="#crate-obj" rotation="-90 0 0" mtl="#crate-mtl" position='0 1.6 -2'>
                    <a-animation attribute="rotation"
                        dur="20000"
                        easing="linear"
                        fill="forwards"
                        to="-90 360 0"
                        repeat="indefinite">
                    </a-animation>
                </a-obj-model>

                <a-entity geometry="primitive: plane; width: 5; height: 5;" rotation='-90 0 0' material='src: #floor-texture; repeat: 100 100;'></a-entity>
            
            </a-marker-camera>
        </a-scene>
    </div>
</body>
</html>